# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# YOLO / Ultralytics
runs/
weights/
*.pt

# Datasets
dataset/
datasets/
*.zip

# Personal / private files
*.jpg
*.jpeg
*.png
